/* styles.css */
.forgot-box {
    .forgot-container {
        background-color: #fff;
        border-radius: 20px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
        width: 400px;
        max-width: 100%;
        padding: 30px;
        text-align: center;
        height: 400px;
    }
}
.form-group p {
    font-size: 14px;
    color: #777;
    display: block;
    margin-bottom: 20px;

}
#container {
  /* Thêm các thuộc tính CSS mà bạn muốn */
  border: 2px solid #ccc;
}
